<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="keywords" content="足迹，foot，grain，旅行，骑行，徒步，时间，风景，美食" />
		<meta name="description" content="写下生命的足迹，记录生活的点滴，留住年轻的红绿---你好，我是grain先森。" />
		<meta name="author" content="grainJGY" />
		<title>grain先森</title>
		<base href="http://127.0.0.1:8020/GrainFoot/" target="_parent" />

		<!--logo-->
		<link href="footer.ico" rel="shortcut icon" />

		<!--base css-->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
		<link href="Plugins/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
		<link href="Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="Styles/other/animate.min.css" rel="stylesheet" />
		<link href="Styles/other/style.min.css" rel="stylesheet" />
		<link href="Styles/other/style-responsive.min.css" rel="stylesheet" />
		<link href="Styles/other/normalize.css" rel="stylesheet" />

		<!--page level css-->
		<link href="Plugins/isotope/css/isotope.css" rel="stylesheet" />
		<link href="Plugins/lightbox/css/lightbox.css" rel="stylesheet" />

		<!--my css-->
		<link href="Styles/GrainFoot.common.css" rel="stylesheet" />
		<link href="Styles/GrainFoot.views.imagesView.css" rel="stylesheet" />
	</head>

	<body>
		<!-- begin #page-loader -->
		<div id="page-loader" class="fade in"><span class="spinner"></span></div>
		<!-- end #page-loader -->

		<!-- begin #page-container -->
		<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
			<!-- begin #header -->
			<div id="header" class="header navbar navbar-default navbar-fixed-top">
				<!-- begin container-fluid -->
				<div class="container-fluid">
					<!-- begin mobile sidebar expand / collapse button -->
					<div class="navbar-header">
						<a href="index.html" class="navbar-brand">
							<img class="grain-logo" src="Images/grain.png" alt="grain" width="54" height="54" />
							<span class="grain-name">grain先森</span>
						</a>
						<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- end mobile sidebar expand / collapse button -->
				</div>
				<!-- end container-fluid -->
			</div>
			<!-- end #header -->

			<!-- begin #content -->
			<div id="content" class="content">
				<!-- begin page-header -->
				<h1 class="page-header">小伙子：<small>有些黑夜，只能独自穿越，年轻需要砥砺前行...</small></h1>
				<!-- end page-header -->

				<div id="options" class="m-b-10">
					<span class="gallery-option-set" id="filter" data-option-key="filter">
            <a href="#show-all" class="btn btn-default btn-xs active" data-option-value="*">
            	全部
            </a>
            <a href="#gallery-group-20170909" class="btn btn-default btn-xs" data-option-value=".gallery-group-20170909">
              2017.09.09
            </a>
            <a href="#gallery-group-20170917" class="btn btn-default btn-xs" data-option-value=".gallery-group-20170917">
              2017.09.17
            </a>
            <a href="#gallery-group-20170923" class="btn btn-default btn-xs" data-option-value=".gallery-group-20170923">
              2017.09.23
            </a>
            <a href="#gallery-group-awaiting" class="btn btn-default btn-xs" data-option-value=".gallery-group-awaiting">
            	期待中...
            </a>
          </span>
				</div>
				<div id="gallery" class="gallery">
					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a id="t20170909" href="Images/20170909/backpacking-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/backpacking-170909.jpg" alt="背包客" />
							</a>
							<!--<p class="image-caption">
								#1382 - 3D Arch
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">我们都是背包客</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Nunc velit urna, aliquam at interdum sit amet, lacinia sit amet ligula. Quisque et erat eros. Aenean auctor metus in tortor placerat, non luctus justo blandit.
							</div>-->
						</div>
					</div>

					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a href="Images/20170909/Bird's-Nest-main-door-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/Bird's-Nest-main-door-170909.jpg" alt="鸟巢正门" />
							</a>
							<!--<p class="image-caption">
								#2343 - Madness Arch
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">鸟巢正门</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Fusce eu rutrum nisi, ut pretium mi. Sed mollis nisi sed auctor molestie. Vestibulum dictum pharetra leo sed euismod.
							</div>-->
						</div>
					</div>

					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a href="Images/20170909/dark-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/dark-170909.jpg" alt="夜幕下的打捞者" />
							</a>
							<!--<p class="image-caption">
								#4123 - Scottwills Pinecone
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">夜幕下的打捞者</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>

					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a href="Images/20170909/floral-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/floral-170909.jpg" alt="路边的野花花" />
							</a>
							<!--<p class="image-caption">
								#1832 Scottwills Autumn
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">路边的野花花</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Ut et augue luctus libero dignissim sodales. Fusce feugiat sapien consequat lacinia fringilla. Vivamus eget ultricies arcu.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a href="Images/20170909/quiet-Brid's-Nest-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/quiet-Brid's-Nest-170909.jpg" alt="初醒的鸟巢" />
							</a>
							<!--<p class="image-caption">
								#6436 Scottwills Buss
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">初醒的鸟巢</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Vestibulum dictum pharetra leo sed euismod. Lorem ipsum dolor sit amet, consectetur adipiscing feugiat sapien elit.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a href="Images/20170909/the-skateboard-youth-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/the-skateboard-youth-170909.jpg" alt="滑板小青年" />
							</a>
							<!--<p class="image-caption">
								#6436 Scottwills Buss
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">滑板小青年</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Vestibulum dictum pharetra leo sed euismod. Lorem ipsum dolor sit amet, consectetur adipiscing feugiat sapien elit.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a href="Images/20170909/willow-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/willow-170909.jpg" alt="随风飘荡的柳" />
							</a>
							<!--<p class="image-caption">
								#6436 Scottwills Buss
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">随风飘荡的柳</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Vestibulum dictum pharetra leo sed euismod. Lorem ipsum dolor sit amet, consectetur adipiscing feugiat sapien elit.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170909">
						<div class="image-inner">
							<a href="Images/20170909/foot-tour-170909.jpg" data-lightbox="gallery-group-20170909">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170909/foot-tour-170909.jpg" alt="鸟巢之旅" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">鸟巢之旅</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a id="t20170917" href="Images/20170917/delicious-170917.jpg" data-lightbox="gallery-group-20170917">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170917/delicious-170917.jpg" alt="美食潮" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">美食潮</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a href="Images/20170917/Domineering-170917.jpg" data-lightbox="gallery-group-20170917">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170917/Domineering-170917.jpg" alt="霸王车" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">霸王车</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a href="Images/20170917/harmony-170917.jpg" data-lightbox="gallery-group-20170917">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170917/harmony-170917.jpg" alt="和谐美" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">和谐美</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a href="Images/20170917/pagoda-tree-170917.jpg" data-lightbox="gallery-group-20170917">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170917/pagoda-tree-170917.jpg" alt="塔树" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">塔树</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a href="Images/20170917/pleased-170917.jpg" data-lightbox="gallery-group-20170917">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170917/pleased-170917.jpg" alt="惬意" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">惬意</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a href="Images/20170917/street-racer-1709917.jpg" data-lightbox="gallery-group-20170917">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170917/street-racer-1709917.jpg" alt="街头霸王车" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">街头霸王车</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a href="Images/20170917/water-sky-170917.jpg" data-lightbox="gallery-group-20170917">
								<img class="lazy border-radius-2" src="Images/blank.gif" data-echo="
									Images/20170917/water-sky-170917.jpg" alt="水天一色" />
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">水天一色</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
					
					<div class="image gallery-group-20170917">
						<div class="image-inner">
							<a href="Images/20170917/VR-game-170917.mp4" data-lightbox="gallery-group-20170917">
								<video class="border-radius-2 my-video" src="Images/20170917/VR-game-170917.mp4" controls="controls" width="98%">
									您的浏览器不支持 video 标签。
								</video>
							</a>
							<!--<p class="image-caption">
								#0229 Scottwills Autumn 2
							</p>-->
						</div>
						<div class="image-info">
							<h5 class="title">美团美食潮现场</h5>
							<div class="pull-right">
								<small>by</small>
								<a href="javascript:;">grain先森</a>
							</div>
							<div class="rating">
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star active"></span>
								<span class="star"></span>
								<span class="star"></span>
							</div>
							<!--<div class="desc">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut et augue luctus libero dignissim sodales, sapien consequat lacinia fringilla.
							</div>-->
						</div>
					</div>
					
				</div>
			</div>
			<!-- end #content -->

			<!-- begin scroll to top btn -->
			<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
			<!-- end scroll to top btn -->
		</div>
		<!-- end page container -->

		<!--base js-->
		<script src="Plugins/jquery/jquery-1.9.1.min.js"></script>
		<script src="Plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
		<script src="Plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
		<script src="Plugins/bootstrap/js/bootstrap.min.js"></script>
		<!--[if lt IE 9]>
			<script src="Scripts/other/html5shiv.js"></script>
			<script src="Scripts/other/respond.min.js"></script>
			<script src="Scripts/other/excanvas.min.js"></script>
		<![endif]-->
		<script src="Plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="Plugins/jquery-cookie/jquery.cookie.js"></script>
		<script src="Plugins/echo/echo.js"></script>
		<script src="Plugins/pace/pace.min.js"></script>
		<script src="Scripts/other/apps.min.js"></script>

		<!--page level js-->
		<script src="Plugins/isotope/js/jquery.isotope.min.js"></script>
		<script src="Plugins/lightbox/js/lightbox.min.js"></script>
		<script src="Scripts/other/gallery/gallery.demo.min.js"></script>

		<!--myjs-->
		<script src="Scripts/GrainFoot.common.js"></script>
		<script src="Scripts/GrainFoot.views.imagesView.js"></script>
	</body>

</html>